#grid {
       width: 412px;
       height: 310px;
       display:flex;
       flex-wrap: wrap;
       border: solid;
}
img {
       border: solid;
}

.modal {
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 30%;
       height: 50%;
       overflow: auto;
       background-color: rgba(23, 23, 23, 0.4);
     }

.modal-content {
       background-color: #fefefe;
       margin: 15% auto;
       padding: 20px;
       border: 1px solid rgb(8, 8, 8);
       width: 80%;
       text-align: center;
     }
   
.close-button {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
     }

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }